Latihan 1: Membuat Program
dengan **List**

# **LATIHAN 1 STRUKTUR DATA PRAKTIKUM**

In [ ]:
#Deklarasi List
list_nilai = [1,2,3,4,5,6,7,8,9,10]
print(list_nilai)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#tampilkan list
print("List Nilai : \n",list_nilai)

List Nilai :
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#menggunakan len
print("\nJumlah Index list nilai (len) : \n", len(list_nilai))

Jumlah Index list nilai (len) :
 10

In [ ]:
#menggunakan count
print("\nJumlah Nilai 5 Dalam List (count) : \n", list_nilai.count(5))

Jumlah Nilai 5 Dalam List (count) :
 1

In [ ]:
#Menggunakan append
print("\nMenambah element dalam list (append) : ")
list_nilai.append(12)
list_nilai.append(10)
print("List Nilai : ",list_nilai)

Menambah element dalam list (append) :
List Nilai :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 10]

In [ ]:
#Menggunakan insert
list_nilai.insert(1,12)
print("\nTambah Nilai List (Insert) : \n", list_nilai)

Tambah Nilai List (Insert) :
 [1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 10]

In [ ]:
#Menggunakan index
print("\nIndex ke 8 (index) : \n", list_nilai.index(8))

Index ke 8 (index) :
 8

In [ ]:
#Menggunakan pop
list_nilai.pop()
list_nilai.pop()
print("\nList Nilai (pop) : \n",list_nilai)

List Nilai (pop) :
 [1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Menggunakan remove
list_nilai.remove(2)
list_nilai.remove(1)
print("\nList Nilai (remove) : \n", list_nilai)

List Nilai (remove) :
 [12, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Menggunakan extend
list_nilai2 = [4,3,8,7]
list_nilai.extend(list_nilai2)
print("\nList Nilai (extend : \n", list_nilai)

List Nilai (extend :
 [12, 3, 4, 5, 6, 7, 8, 9, 10, 4, 3, 8, 7]

In [ ]:
#Menggunakan reverse
list_nilai.reverse()
print("\nList Nilai (reverse) : \n", list_nilai)

List Nilai (reverse) :
 [7, 8, 3, 4, 10, 9, 8, 7, 6, 5, 4, 3, 12]

In [ ]:
#Menggunakan sort
list_nilai.sort()
print("\nList Nilai (sort) : \n", list_nilai)

List Nilai (sort) :
 [3, 3, 4, 4, 5, 6, 7, 7, 8, 8, 9, 10, 12]

In [ ]:
#Menggunakan Max
print("\nNilai Terbanyak (max) : \n", max(list_nilai))

Nilai Terbanyak (max) :
 12

In [ ]:
#Mengguankan min
print("\nNilai terendah (min) : \n", min(list_nilai))

Nilai terendah (min) :
 3

In [ ]:
#Menggunakan Sum
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(list_nilai))

Total penjumlahan nilai dari list_nilai (sum) :
 86

In [ ]:
# Buat list untuk menampung nama-nama teman
my_friends = ["Anggun", "Dian", "Agung", "Adi","Adam"]

# Tampilkan isi list my_friends dengan nomer indeks 3
print("Isi my_friends indeks ke-3 adalah:{}".format(my_friends[3]) )

# Tampilkan semua daftar teman
print("Semua teman: ada {} orang".format(len(my_friends)))
for friend in my_friends:print(friend)

Isi my_friends indeks ke-3 adalah:Adi
Semua teman: ada 5 orang
Anggun
Dian
Agung
Adi
Adam

**Mengganti** **Nilai List**

In [ ]:
# list mula-mula
buah = ["jeruk", "apel", "mangga", "duren"]
# mengubah nilai index ke-2
buah[2] = "kelapa"
#Maka "mangga" akan diganti dengan "kelapa".
print(buah)

['jeruk', 'apel', 'kelapa', 'duren']

In [ ]:
teman = ["susi","budi","agus","rita","rini"]
teman[2] = "tuti"
print(teman)
print('Teman dekat saya', teman[2])

['susi', 'budi', 'tuti', 'rita', 'rini']
Teman dekat saya tuti

**Menambahkan Item List**

In [ ]:
#list mula-mula
buah = ["jeruk", "apel", "mangga", "duren"]
# Tambahkan manggis
buah.append("manggis")
#Hasilnya "manggis" akan ditambahkan setelah item terakhir.
print(buah)

['jeruk', 'apel', 'mangga', 'duren', 'manggis']

In [ ]:
#list mula-mula
buah = ["jeruk", "apel", "mangga", "duren"]
buah.insert(0, "anggur")
#Maka "anggur" akan ditambahkan pada awal list.
print(buah)

['anggur', 'jeruk', 'apel', 'mangga', 'duren']

In [ ]:
#list mula-mula
buah = ["jeruk", "apel", "mangga", "duren"]
buah.insert(2, "duren")
print(buah)

['jeruk', 'apel', 'duren', 'mangga', 'duren']